<!DOCTYPE html>
<html>
<head>
	<title>adminlogincibil</title>
	<link rel="stylesheet" type="text/css" href="css/log.css">

</head>
<body style="background-image:url(image/bg1.jpg);background-size: cover;">
	<h3 align="center">Hiii Admin</h3><br>
  <div align="center">
 <p>Fill the month number to get user list</p>
<form name="month"  method="post" action="../controller/Control.php" >
	 Month:<input  type="date" name="date" required min="2019-07-11" max="2019-07-31"><br><br>

	<input type="submit" name="getlist" value="Getlist">
</form>
</div>
